### Практическое задание Numpy

**Задание 1**

1. - Импортируйте библиотеку Numpy и дайте ей псевдоним np.
 - Создать одномерный массив Numpy под названием a из 12 последовательных целых чисел чисел от 12 до 24 невключительно
 - Создать 5 двумерных массивов разной формы из массива a. Не использовать в аргументах метода reshape число -1.
 - Создать 5 двумерных массивов разной формы из массива a. Использовать в аргументах метода reshape число -1 (в трех примерах - для обозначения числа столбцов, в двух - для строк).
  - Можно ли массив Numpy, состоящий из одного столбца и 12 строк, назвать одномерным?

In [18]:
# Импортируйте библиотеку Numpy и дайте ей псевдоним np.
# Создать одномерный массив Numpy под названием a из 12 последовательных целых чисел чисел от 12 до 24 невключительно
import json
import numpy as np

a = np.arange(12,24)

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])

In [25]:
# Создать 5 двумерных массивов разной формы из массива a. Не использовать в аргументах метода reshape число -1.
arrays = []
for i in range(2,7):
    arrays.append(a.reshape(i,a.size // i) if i != 5 else a.reshape(6,2))
for array in arrays:
    print(array)

[[12 13 14 15 16 17]
 [18 19 20 21 22 23]]
[[12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]]
[[12 13 14]
 [15 16 17]
 [18 19 20]
 [21 22 23]]
[[12 13]
 [14 15]
 [16 17]
 [18 19]
 [20 21]
 [22 23]]
[[12 13]
 [14 15]
 [16 17]
 [18 19]
 [20 21]
 [22 23]]

In [24]:
# Создать 5 двумерных массивов разной формы из массива a. Использовать в аргументах метода reshape число -1 (в трех примерах - для обозначения числа столбцов, в двух - для строк).
arrays = []
for i in range(2,5):
    arrays.append(a.reshape(i,-1))
    if i != 4:
        arrays.append(a.reshape(-1,i))
for array in arrays:
    print(array)

[[12 13 14 15 16 17]
 [18 19 20 21 22 23]]
[[12 13]
 [14 15]
 [16 17]
 [18 19]
 [20 21]
 [22 23]]
[[12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]]
[[12 13 14]
 [15 16 17]
 [18 19 20]
 [21 22 23]]
[[12 13 14]
 [15 16 17]
 [18 19 20]
 [21 22 23]]

In [29]:
# Можно ли массив Numpy, состоящий из одного столбца и 12 строк, назвать одномерным?
# Философский вопрос, если расматривать его как одномерный вектор, наверное можно, но вообще скорее нельзя т.к. двойные скобки нам  как-бы намекают
np.arange(12).reshape(12,1)

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11]])

2. - Создать массив из 3 строк и 4 столбцов, состоящий из случайных чисел с плавающей запятой из нормального распределения  со средним, равным 0 и среднеквадратичным отклонением, равным 1.0. 
 - Получить из этого массива одномерный массив с таким же атрибутом size, как и исходный массив.

In [33]:
# С оздать массив из 3 строк и 4 столбцов, состоящий из случайных чисел с плавающей запятой из нормального распределения  со средним, равным 0 и среднеквадратичным отклонением, равным 1.0. 
# Получить из этого массива одномерный массив с таким же атрибутом size, как и исходный массив.
a = np.random.randn(3,4)
print(a)
print(a.flatten())

[[ 0.19066311  0.70411158 -1.23354512  1.38855029]
 [-0.02431249 -0.11878773  1.09181241  1.58902387]
 [ 0.83401796  0.15826986  0.50360159  1.16565924]]
[ 0.19066311  0.70411158 -1.23354512  1.38855029 -0.02431249 -0.11878773
  1.09181241  1.58902387  0.83401796  0.15826986  0.50360159  1.16565924]

3. - Создать массив a, состоящий из целых чисел, убывающих от 20 до 0 невключительно с интервалом 2. 
 - Создать массив b, состоящий из 1 строки и 10 столбцов: целых чисел, убывающих от 20 до 1 невключительно с интервалом 2. 
 - В чем разница между массивами a и b?

In [35]:
# Создать массив a, состоящий из целых чисел, убывающих от 20 до 0 невключительно с интервалом 2. 

a=np.arange(20,0,-2)
a

array([20, 18, 16, 14, 12, 10,  8,  6,  4,  2])

In [36]:
# Создать массив b, состоящий из 1 строки и 10 столбцов: целых чисел, убывающих от 20 до 1 невключительно с интервалом 2. 

b=np.arange(20,1,-2).reshape(1,10)
b

# В чем разница между массивами a и b?
#"a" одномерный массив, а "b" двумерный, ещё разница в квадратных скобках :]

array([[20, 18, 16, 14, 12, 10,  8,  6,  4,  2]])

4. - Вертикально соединить массивы a и b. a - двумерный массив из нулей, число строк которого больше 1 и на 1 меньше, чем число строк двумерного массива b, состоящего из единиц. Итоговый массив v должен иметь атрибут size, равный 10.

In [40]:
# Вертикально соединить массивы a и b. a - двумерный массив из нулей, число строк которого больше 1 и на 1 меньше, чем число строк двумерного массива b, состоящего из единиц. Итоговый массив v должен иметь атрибут size, равный 10.
a = np.zeros((4,1))
b = np.ones((6,1))
v = np.concatenate((a,b))
v

array([[0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]])

5. - Создать одномерный массив а, состоящий из последовательности целых чисел от 0 до 12.
 - Поменять форму этого массива, чтобы получилась матрица A (двумерный массив Numpy), состоящая из 4 строк и 3 столбцов.
 - Получить матрицу At путем транспонирования матрицы A.
 - Получить матрицу B, умножив матрицу A на матрицу At с помощью матричного умножения.
 - Какой размер имеет матрица B? Получится ли вычислить обратную матрицу для матрицы B и почему?

In [43]:
# 5. - Создать одномерный массив а, состоящий из последовательности целых чисел от 0 до 12.

a = np.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [44]:
#  - Поменять форму этого массива, чтобы получилась матрица A (двумерный массив Numpy), состоящая из 4 строк и 3 столбцов.
A = a.reshape(4,3)
A

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [45]:
#  - Получить матрицу At путем транспонирования матрицы A.
At = A.T
At

array([[ 0,  3,  6,  9],
       [ 1,  4,  7, 10],
       [ 2,  5,  8, 11]])

In [46]:
#  - Получить матрицу B, умножив матрицу A на матрицу At с помощью матричного умножения.
B = np.dot(A,At)
B

array([[  5,  14,  23,  32],
       [ 14,  50,  86, 122],
       [ 23,  86, 149, 212],
       [ 32, 122, 212, 302]])

In [47]:
#  - Какой размер имеет матрица B? Получится ли вычислить обратную матрицу для матрицы B и почему?
np.linalg.det(B)

# Размер 4x4, не получится т.к. квадратная матрица обратима тогда и только тогда, когда определитель не равен нулю

0.0

6. - Инициализируйте генератор случайных числе с помощью объекта seed, равного 42.
 - Создайте одномерный массив c, составленный из последовательности 16-ти случайных равномерно распределенных целых чисел от 0 до 16 невключительно. 
 - Поменяйте его форму так, чтобы получилась квадратная матрица C. 
 - Получите матрицу D, поэлементно прибавив матрицу B из предыдущего вопроса к матрице C, умноженной на 10.
 - Вычислите определитель, ранг и обратную матрицу D_inv для D.

In [ ]:
# Инициализируйте генератор случайных числе с помощью объекта seed, равного 42.
np.random.seed = 42

In [50]:
# Создайте одномерный массив c, составленный из последовательности 16-ти случайных равномерно распределенных целых чисел от 0 до 16 невключительно. 
C = 16*np.random.sample(16)
C

array([ 0.36582244,  1.30833516, 14.27594598,  7.81823666,  2.04063336,
       15.95364127,  0.5940416 , 12.37296667,  0.44590065,  4.70637031,
       11.06456104,  7.40571433, 11.99352031,  1.28421875, 10.92674759,
        0.67614879])

In [51]:
# Поменяйте его форму так, чтобы получилась квадратная матрица C. 
C.resize(4,4)
C

array([[ 0.36582244,  1.30833516, 14.27594598,  7.81823666],
       [ 2.04063336, 15.95364127,  0.5940416 , 12.37296667],
       [ 0.44590065,  4.70637031, 11.06456104,  7.40571433],
       [11.99352031,  1.28421875, 10.92674759,  0.67614879]])

In [53]:
# Получите матрицу D, поэлементно прибавив матрицу B из предыдущего вопроса к матрице C, умноженной на 10.
D = B + 10*C
D

array([[  8.65822436,  27.08335158, 165.75945984, 110.18236663],
       [ 34.40633362, 209.53641271,  91.94041601, 245.72966674],
       [ 27.4590065 , 133.06370314, 259.64561038, 286.05714333],
       [151.9352031 , 134.84218753, 321.26747595, 308.76148791]])

In [54]:
# Вычислите определитель, ранг и обратную матрицу D_inv для D.
print(f'Определитель: {np.linalg.det(D)}')
print(f'Ранг: {np.linalg.matrix_rank(D)}')
D_inv = np.linalg.inv(D)
D_inv

Определитель: 108430152.80043529
Ранг: 4

array([[-7.26652019e-03, -1.09172252e-03, -5.07033172e-03,
         8.15942308e-03],
       [ 4.34689920e-02,  2.14211819e-02, -3.38351443e-02,
        -1.21307747e-03],
       [ 3.09761675e-02,  7.84252071e-03, -1.84438211e-02,
        -2.07864845e-04],
       [-4.76388717e-02, -1.69780072e-02,  3.64623408e-02,
        -3.02802326e-05]])

7. - Приравняйте к нулю отрицательные числа в матрице D_inv, а положительные - к единице. Убедитесь, что в матрице D_inv остались только нули и единицы. 
 - С помощью функции numpy.where, используя матрицу D_inv в качестве маски, а матрицы B и C - в качестве источников данных, получите матрицу E размером 4x4. 
 - Элементы матрицы E, для которых соответствующий элемент матрицы D_inv равен 1, должны быть равны соответствующему элементу матрицы B, а элементы матрицы E, для которых соответствующий элемент матрицы D_inv равен 0, должны быть равны соответствующему элементу матрицы C.

In [59]:
# Приравняйте к нулю отрицательные числа в матрице D_inv, а положительные - к единице. Убедитесь, что в матрице D_inv остались только нули и единицы. 

for i, row in enumerate(D_inv):
    for j, element in enumerate(D_inv[i]):
        if element < 0:
            D_inv[i][j] = 0
        else:
            D_inv[i][j] = 1
D_inv

array([[0., 0., 0., 1.],
       [1., 1., 0., 0.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.]])

In [61]:
# С помощью функции numpy.where, используя матрицу D_inv в качестве маски, а матрицы B и C - в качестве источников данных, получите матрицу E размером 4x4. 
# Элементы матрицы E, для которых соответствующий элемент матрицы D_inv равен 1, должны быть равны соответствующему элементу матрицы B, а элементы матрицы E, для которых соответствующий элемент матрицы D_inv равен 0, должны быть равны соответствующему элементу матрицы C.

E=np.where(D_inv,B,C)
print(f'B: {B}')
print(f'C: {C}')
print(f'E: {E}')

B: [[  5  14  23  32]
 [ 14  50  86 122]
 [ 23  86 149 212]
 [ 32 122 212 302]]
C: [[ 0.36582244  1.30833516 14.27594598  7.81823666]
 [ 2.04063336 15.95364127  0.5940416  12.37296667]
 [ 0.44590065  4.70637031 11.06456104  7.40571433]
 [11.99352031  1.28421875 10.92674759  0.67614879]]
E: [[  0.36582244   1.30833516  14.27594598  32.        ]
 [ 14.          50.           0.5940416   12.37296667]
 [ 23.          86.          11.06456104   7.40571433]
 [ 11.99352031   1.28421875 212.           0.67614879]]

**Задание 2**
- Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов.
- Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7.
- Будем считать, что каждый столбец - это признак, а строка - наблюдение.
- Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy.
- Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [64]:
a = np.array([1,2,3,3,1,6,8,11,10,7]).reshape(2,5).T
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [66]:
mean_a = a.mean(axis = 0)
mean_a

array([2. , 8.4])

**Задание 3**
- Вычислите массив a_centered, отняв от значений массива а средние значения соответствующих признаков, содержащиеся в массиве mean_a.
- Вычисление должно производиться в одно действие.
- Получившийся массив должен иметь размер 5x2.

In [75]:
a_centered = np.subtract(a,mean_a)
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

**Задание 4**
- Найдите скалярное произведение столбцов массива a_centered.
- В результате должна получиться величина a_centered_sp. 
- Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [77]:
a_centered_sp = a_centered.T[0] @ a_centered.T[1]
a_centered_sp

8.0

In [80]:
a_centered_sp/(a_centered.T[0].size-1)

2.0

**Задание 5\*\***
Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве а. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. 
В качестве аргумента m функция np.cov должна принимать транспонированный массив a.
В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение 
ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

Подробнее узнать о ковариации можно здесь:
[Ссылка](https://studopedia.ru/9_153900_viborochnaya-kovariatsiya-i-viborochnaya-dispersiya.html)

In [79]:
np.cov(a.T)

array([[1. , 2. ],
       [2. , 4.3]])

### Практическое задание Pandas###

**Задание 1**
- Импортируйте библиотеку Pandas и дайте ей псевдоним pd.
- Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные:
[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
- Затем создайте датафрейм book cо столбцами author_id, book_title и price,в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [92]:
import pandas as pd
authors = pd.DataFrame({'author_id':[1, 2, 3], 'author_name':['Тургенев', 'Чехов', 'Островский']})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [93]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],'price':[450, 300, 350, 500, 450, 370, 290]})
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

**Задание 2**
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [94]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

**Задание 3**
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [100]:
top5 = authors_price.sort_values('price',ascending=False).drop([4,5])
top5

   author_id author_name            book_title  price
3          2       Чехов      Толстый и тонкий    500
0          1    Тургенев           Отцы и дети    450
2          1    Тургенев     Дворянское гнездо    350
1          1    Тургенев                 Рудин    300
6          3  Островский  Таланты и поклонники    290

**Задание 4**
Создайте датафрейм authors_stat на основе информации из authors_price.
В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price, в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [112]:

price_min = pd.DataFrame(authors_price.groupby('author_name')['price'].max()).rename(columns={'price':'min_price'})
price_max = pd.DataFrame(authors_price.groupby('author_name')['price'].min()).rename(columns={'price':'max_price'})
price_mean = pd.DataFrame(authors_price.groupby('author_name')['price'].mean()).rename(columns={'price':'mean_price'})
authors_stat = price_min.merge(price_max, on='author_name').merge(price_mean, on='author_name')
#,authors_price.groupby('author_name')['price'].min(),authors_price.groupby('author_name')['price'].mean())
authors_stat

             min_price  max_price  mean_price
author_name
Островский         370        290  330.000000
Тургенев           450        300  366.666667
Чехов              500        450  475.000000

**Задание 5**
- Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая.
- В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
- Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.
- Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке.Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая",а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями,при необходимости загрузите библиотеку Numpy.
- Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl".Затем загрузите из этого файла датафрейм и назовите его book_info2.Удостоверьтесь, что датафреймы book_info и book_info2 идентичны

In [123]:
df = authors_price.copy()
df['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
df

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [127]:
?pd.pivot_table

In [135]:
book_info = pd.pivot_table(df, values='price', index=['author_name'],columns=['cover'], aggfunc=np.sum, fill_value=0)
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [136]:
book_info.to_pickle('book_info.pkl')

In [137]:
book_info2 = pd.read_pickle('book_info.pkl')
book_info2

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950